<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input type="text" v-model="enteredGoalValue" />
      <button @click="addGoal">Add Goal</button>
      <!-- v-if accepts computed property, method or expression and remove content from DOM -->
      <p v-if="goals.length === 0">No goals have been added yet</p>
      <!-- v-else or v-else-if can be used only after the element that contains v-if -->
      <p v-else-if="goals.length > 10">Wow, there are so many goals!</p>
      <p v-else>Keep on keeping on!</p>
      <!-- v-show doesn't remove the content from DOM, it sets display:none 
       should be used instead of v-if with elements that will be frequently shown/hidden
       to improve the performance by not touching DOM structure -->
      <p v-show="goals.length === 0">Please start adding some!</p>
      <ul>
        <li>Goal</li>
      </ul>
    </section>
  </body>
</html>
